
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body style="background-color: transparent;">
    
    <div >

        <div class="container mt-4">
          <div class="card-content contenido">
            <h2 class="card-title contenido_tittle" >¡Crea tu tarjeta de presentación!</h2>
            <h3 class="card-title contenido_instruction" >¿Qué se necesita?</h3>
            <ul>
              <li >
                <h5 class="contenido_first" >Es necesario llenar el formulario y rellenar tus
                  datos.</h5>
              </li>
              <li >
                <h5 class="contenido_two" >Puedes acceder a tu tarjeta a traves de tu id que
                  se
                  te proporcionará.</h5>
              </li>
              <li >
                <h5 class="contenido_two" >Foto de perfil y fondo totalmente personalizables.
                </h5>
              </li>
    
              <button  type="button" class="btn btn-dark mt-4 " style="font-size: large; "
                routerLink="/add">Crear nueva</button>
              <button  type="button" class="btn btn-info mt-4 "
                style="font-size: large; margin-left: 15px;" routerLink="/157350">Vista previa</button>
            </ul>
            <h2 style="font-size: 14px; font-weight: bold; color: gray;" class="marca" >
              Aplicación desarrollada por: </h2>
            <ul>
              <li >
                <h2 style="font-size: 12px; color: gray;">T.S.U José Teodosio Ordoñez López
                </h2>
              </li>
              <li >
                <h2 style="font-size: 12px; color: gray;">T.S.U Brayan Alejandro Canul Tamay
                </h2>
              </li>
            </ul>
          </div>
        </div>
      </div>

</body>
</html>
