<div class="contenedor">
    <app-progress-bar *ngIf="loading"></app-progress-bar>

    <div *ngIf="!loading" class="row mt-4">
        <div class="col-ls-1 offset-lg-1">
            <div class="card border-dark mb-3" style="max-width: 50rem;">
                <div class="card-header text-center"
                    style="color: white; font-weight: bold; background-color: rgb(87, 87, 87); font-size: 25px;">{{
                    operacion }} Usuario</div>
                <div class="card-body">

                    <form [formGroup]="form" (ngSubmit)="addUser()">
                        <input formControlName="id" type="text" class="form-control border-dark text-dark"
                            aria-label="Amount (to the nearest dollar)" readonly [value]=" this.texto + defaultId"
                            style="font-weight: bold; font-size: 18px;">

                        <input formControlName="businessName" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar tu nombre completo" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('businessName')?.hasError('required') && form.get('businessName')?.touched">
                            Este campo nombre es obligatorio
                        </span>

                        <input formControlName="businessJob" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar tu especialidad" style="font-size: 18px;">
                        <span *ngIf="form.get('businessJob')?.hasError('required') && form.get('businessJob')?.touched">
                            Este campo especialidad es obligatorio
                        </span>

                        <input formControlName="businessLogo" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar link de logo (formato img)" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('businessLogo')?.hasError('required') && form.get('businessLogo')?.touched">
                            Este campo logo es obligatorio
                        </span>

                        <input formControlName="backgroundLink" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar link de imagen de fondo (formato img)" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('backgroundLink')?.hasError('required') && form.get('backgroundLink')?.touched">
                            Este campo fondo es obligatorio
                        </span>

                        <input formControlName="businessAddress" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar dirección" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('businessAddress')?.hasError('required') && form.get('businessAddress')?.touched">
                            Este campo dirección es obligatorio
                        </span>

                        <input formControlName="businessPhone" type="number" class="form-control mt-2 text-dark"
                            placeholder="Ingresar teléfono" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('businessPhone')?.hasError('required') && form.get('businessPhone')?.touched">
                            Este campo teléfono es obligatorio
                        </span>

                        <input formControlName="businessEmail" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar correo electronico" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('businessEmail')?.hasError('required') && form.get('businessEmail')?.touched">
                            Este campo correo electronico es obligatorio
                        </span>

                        <input formControlName="businessWebsite" type="email" class="form-control mt-2 text-dark"
                            placeholder="Ingresar link sitio web" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('businessWebsite')?.hasError('required') && form.get('businessWebsite')?.touched">
                            Este campo sitio web es obligatorio
                        </span>


                        <input formControlName="facebookLink" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar link de facebook" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('facebookLink')?.hasError('required') && form.get('facebookLink')?.touched">
                            Este campo facebook es obligatorio
                        </span>

                        <input formControlName="twitterLink" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar link de twitter" style="font-size: 18px;">
                        <span *ngIf="form.get('twitterLink')?.hasError('required') && form.get('twitterLink')?.touched">
                            Este campo twitter es obligatorio
                        </span>


                        <input formControlName="linkedinLink" type="text" class="form-control mt-2 text-dark"
                            placeholder="Ingresar link de linkedin" style="font-size: 18px;">
                        <span
                            *ngIf="form.get('linkedinLink')?.hasError('required') && form.get('linkedinLink')?.touched">
                            Este campo linkedin es obligatorio
                        </span>


                        <div class="row mt-2 text-center">
                            <div class="col-lg-6">
                                <button routerLink="/" type="button" class="btn btn-outline-dark"
                                    style="font-size: large; width: 160px; height: 50px;">Volver</button>
                            </div>
                            <div class="col-lg-6">
                                <button [disabled]="form.invalid" type="submit" class="btn btn-primary"
                                    style="font-size: large; width: 160px; height: 50px;">Cargar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>